# Renombra a .env  y coloca los valores de tu proyecto Supabase
# (Dashboard > Project Settings > API)
EXPO_PUBLIC_SUPABASE_URL=https://TU-PROYECTO.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOi...
